.card {
    display: flex;
    background-image: url(background.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

.img {
    width: 100%;
    margin-left: 199px;
    margin-top: 64px;
    margin-right: 198px;
    margin-bottom: 0px;
}

#text {
    margin-top: 127px;
    margin-bottom: 260px;
    margin-right: 165px;
    font-size: 30px;
    width: 100%;
    margin-left: 735px;
}

.link {
    text-decoration: none;
    padding: 15px 35.5px 15px 35.5px;
    color: white;
    border: solid orangered 7px;
    border-radius: 50px;
    background-color: orangered;
    margin-bottom: 90px;
    font-size: 20px;

}

.header {
    font-size: 80px;
    margin-top: 30px;
    color: gray;
}

.top_banner {
    display: flex;
}

.color {
    color: orangered;
}

.paragrap {
    margin-top: 40px;

}

.paragrap-2 {
    margin-bottom: 49px;
}

.link {
    text-decoration: none;
    padding: 12.5px 30px 12.5px 30px;
    border: 5px solid tomato;
    border-radius: 40px;
    background-color: tomato;
    color: white;
    font-size: 16px;
    margin-top: 660px;
}

.half_width {
    width: 50%;
}

.half_width.padding {
    padding-left: 100px;
    padding-top: 150px;
}

#font_bold {
    font-size: 59px;
}

.font_bold {
    font-size: 59px;
}

#Hero {
    background-image: url(Group\ 8450.png);
    background-repeat: no-repeat;
    background-size: 100%;
    margin-left: 53px;
}

.my-recipies {
    text-align: center;
    color: gray;
    font-size: 40px;
}

.lorem {
    text-align: center;
    color: gray;
}

.lorem-2 {
    text-align: center;
    color: gray;
}

.number {
    text-align: center;
    color: gray;
}

.sceond-div {
    display: flex;
}

#recipies {
    width: 50%;
    padding: 20px 80px;
    margin-right: 20px;
    box-shadow: 10px 20px 30px gray;
    border-radius: 25px;

}

.picture-food {
    width: 100%;
}

.text-half {
    width: 100%;
    margin-top: 20px;
    font-size: 20px;
}

.text-half-2 {
    font-size: 30px;
}

.three-div {
    display: flex;
    width: 100%;
    font-size: 20px;
    box-shadow: 30px 40px 50px gray;
    border-radius: 15px;
    margin-top: 20px;
}

.div-frist {
    font-size: 30px;
    margin-left: 350px;
    padding-top: 90px;
    padding-bottom: 100px;
    margin-top: 50px;
}

.div-sceond {
    font-size: 30px;
    margin-left: 320px;
    padding-top: 90px;
    padding-bottom: 100px;
    margin-top: 50px;
}

.div-thard {
    font-size: 30px;
    margin-left: 330px;
    padding-top: 90px;
    padding-bottom: 100px;
    margin-top: 50px;
}